<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地址修改</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrapt/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrapt/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light border-bottom">
    <img src="{% static 'img/icons/chevron-left.svg' %}" class="float-left" id="previous_page">
    <div class="h6 float-right text-center" id="user_name">新建收货信息</div>
    <input id="is_login" value="{{request.session.is_login}}" style="display: none">
    <a class="float-right text-warning pr-3" id="logout">注销</a>
    </nav>
    <form method="post" id="form_submit" >
        {% csrf_token %}
        <!--输入收件人姓名-->
        <div class="form-group row mt-2">
            <label for="consignee_name" class="col-4 col-form-label text-center" >收件人:</label>
            <div class="col-8">
                <input type="text" class="form-control " id="consignee_name" name="consignee_name" value="{{consignee_name}}">
            </div>
        </div>
        <!--输入收件人手机号码-->
        <div class="form-group row mt-2">
            <label for="consignee_name" class="col-4 col-form-label text-center">收件手机号:</label>
            <div class="col-8">
                <input type="text" class="form-control " id="consignee_number" name="consignee_number" value="{{consignee_number}}">
            </div>
        </div>
        <!--输入收件人地址 -->
        <div class="form-group row mt-2">
            <label for="consignee_address" class="col-4 text-center ">收货地址：</label>
            <textarea class="form-control col-7 ml-3" id="consignee_address" name="consignee_address" rows="3" >{{consignee_address}}</textarea>
        </div>
        <!--是否设为默认-->
        <div class="form-check">
            <input class="form-check-input col-1" type="checkbox" id="consignee_default" name="consignee_default" checked>
            <label class="form-check-label col-6" for="consignee_default" id="consignee_default_check">设为默认地址</label>
        </div>
        <input type="hidden" name="consignee_id" value="{{consignee_id}}">
        <button class="btn btn-primary mt-2 container" type="button" >完成编辑</button>
    </form>


<script>
    $(function () {
        var url = "http://" + window.location.host + "/user/address/address_change/"
        $("#form_submit").attr('action',url)
        $(":button").click(function () {
            $("form").submit()

        })
        $("#previous_page").click(function () {
            window.history.back(-1);

        })
    });

</script>
</body>
</html>