<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地址</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrapt/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/address.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrapt/css/bootstrap.min.css' %}">

</head>
<body>
{% csrf_token %}
    <nav class="navbar navbar-light bg-light border-bottom ">
        <img src="{% static 'img/icons/chevron-left.svg' %}" class="float-left" id="previous_page">
        <div class="h6 float-right text-center " id="user_name">{{request.session.user_name}}的收货信息</div>
        <input id="is_login" value="{{request.session.is_login}}" style="display: none">
        <a class="float-right text-warning pr-3" id="logout" style="visibility: hidden">注销</a>
    </nav>
    <!--地址信息表-->
    <div class="list-group ">
        <input style="display: none" id="order_id_get" value="{{order_id}}">
        {% for consignee in consignee_dic %}
        <div class="list-group-item list-group-item-action pb-0">
            <div class="container h6 ">
                <div class="row order_address_change">
                    <div class="col-4 font-weight-bold mb-2" id="consignee_name_{{consignee.id}}">{{consignee.consignee_name}}</div>
                    <div class="col-4 offset-1 font-weight-bold " id="consignee_number_{{consignee.id}}">{{consignee.consignee_number}}</div>
                    <div class="col-12" id="consignee_address_{{consignee.id}}">{{consignee.consignee_address}}</div>
                </div>
            </div>
            <img src="{% static 'img/icons/pencil-square.svg' %}" id="{{consignee.id}}" class="float-right image" width="24" height="24">
        </div>

        {% endfor %}
    </div>
    <div class="mb-4 pb-3"></div>
    <button type="button" class="btn bg-danger fixed-bottom container text-white" >
        新建收货信息</button>
    <form style="display: none" id="submit">
        {% csrf_token %}
    </form>
    <form style="display: none" id="submit_address_change">
        {% csrf_token %}
    </form>
</body>

</html>