<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>登录</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrapt/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrapt/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>

</head>
<body>
    <script>{{ script }}('{{wrong}}')</script>
    <!--头部标题-->
    <h2 class="text-center" >登录</h2>
    <!--登录表单-->
    <form class="form-group  container" method="post">
        {% csrf_token %}

        <span class="form-check text-danger" id="user_name_check_span"></span>
        <!--输入用户名-->
        <div class="input-group justify-content-center"  style="margin-top:1%" >
            <div class="input-group-prepend col-md-4 mb-4">
                <img class="input-group-text" src="{% static 'img/icons/name_img.svg' %}">
                <input type="text" class="form-control " id="user_name" name="user_name" placeholder="请输入用户名" >
            </div>
        </div>

        <span class="form-check text-danger" id="user_password_check_span"></span>
        <!--输入密码-->
        <div class="input-group justify-content-center" >
            <div class="input-group-prepend col-md-4 mb-4">
                <img class="input-group-text" src="{% static 'img/icons/password_img.svg' %}">
                <input type="password" class="form-control" id="user_password" name="user_password" placeholder="请输入密码">
                <img  class="img-fluid" id="user_password_check_img">
            </div>
        </div>

            <!--提交按钮-->
        <div class="input-group ">
            <button type="submit" class="btn btn-primary col-12  mb-2" id="submit" name="btn_submit"  >登录</button>
            <button type="button" class="btn btn-primary  col-12 mb-2" id="register"   >注册</button>
        </div>


    </form>
<script>
    $(function () {
        $("#register").click(function () {
             window.location.href="http://" + window.location.host + "/user/register/"

        })


    })
</script>

</body>
</html>