{% extends 'base.html' %}
{% load static %}
{% block title %}
我的信息
{% endblock%}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal_information.css' %}">
<script src="{% static 'js/personal_information.js' %}"></script>
{% endblock %}

<!--过滤头部标题-->
{% block body_title%}{% endblock %}
{% block search%}{% endblock %}

{% block central%}
{% csrf_token %}
<!--头部导航栏-->
<div class=" bg-light border-bottom pt-2 pb-2 ">
        <img src="{% static 'img/icons/chevron-left.svg' %}" class="float-left ml-2 " id="previous_page" style="margin-top: 2px">
        <div class="h6 text-center mb-0 mt-0" >
            <span>{{request.session.user_name}}的个人信息</span>
            <input id="is_login" value="{{request.session.is_login}}" style="display: none">
            <a class="float-right text-warning mr-4" id="logout" style="display: none">注销</a>
        </div>
</div>

<!--订单详情-->
<div class="bg-light row pt-3 pb-3 ml-0 mr-0" >
    <a class="card bg-light border-0 col-3" id="order_unpaid" href="/order/?order_status=0">
        <img src="../../static/img/icons/支付.svg" class="card-img-top align-self-center"  style="height: 24px;width: 24px">
        <p class="card-text h6 text-center pt-2 text-dark" >待支付
            <span class="badge badge-danger badge-pill">{{order_unpaid_count}}</span>
        </p>
    </a>
    <a class="card bg-light border-0 col-3" id="order_await" href="/order/?order_status=1">
        <img src="../../static/img/icons/打包.svg" class="card-img-top align-self-center" style="height: 24px;width: 24px">
        <p class="card-text h6 text-center pt-2" >待发货
            <span class="badge badge-danger badge-pill">{{order_await_count}}</span>
        </p>
    </a>
    <a class="card bg-light border-0 col-3" id="order_receiving" href="/order/?order_status=2">
        <img src="../../static/img/icons/发货.svg" class="card-img-top align-self-center" style="height: 24px;width: 24px">
        <p class="card-text h6 text-center pt-2" >待收货
            <span class="badge badge-danger badge-pill">{{order_receiving_count}}</span>
        </p>
    </a>
    <a class="card bg-light border-0 col-3 " id="order" href="/order/">
        <img src="../../static/img/icons/订单.svg" class="card-img-top  align-self-center " style="height: 24px;width: 24px">
        <p class="card-text small text-center pt-2" >我的订单
            <span class="badge badge-danger badge-pill">{{order_count}}</span>
        </p>
    </a>
</div>

<!--优惠信息显示-->
<div class="bg-light pt-2 pb-2 mt-2 pl-4 pr-2 container">

    <div class="row text-center">
        <div class="col-3">
            <div>0</div>
            <div>优惠券</div>
        </div>
        <div class="col-3">
            <div>0</div>
            <div>红包</div>
        </div>
        <div class="col-3">
            <div>{{integral_number}}</div>
            <div>积分</div>
        </div>
        <div class="col-3">
            <div>0</div>
            <div>礼品卡</div>
        </div>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header" id="show_QR">
        <span>分享二维码赚取积分</span>
        <img class="float-right pt-1" src="../../static/img/icons/chevron-down.svg" >
    </div>
    <img id="code_QR" class="card-img" src="{% static  qr %}" >

</div>

<!--显示收件人信息-->
<div class="card mt-2">
    <div class="card-header">
        <span>默认地址：</span>
        <a class="text-warning float-right h6 mb-0" id="address_change">管理地址</a>
    </div>
    <div class="card-body">
        {% for consignee in consignee_dic %}
        <div>地址：{{consignee.consignee_address}}</div>
        <div class="small mt-2">
            <span>收件人：{{consignee.consignee_name}}</span><br>
            <span>联系电话：{{consignee.consignee_number}}</span>
        </div>
        {% endfor %}
    </div>
</div>

<div class="mb-5 pb-2"></div>


{% endblock %}

