{% extends 'base.html' %}
{% load static %}
{% block title %}
首页
{% endblock%}


{% block head%}
<script src="{% static 'js/order.js' %}"></script>
{% endblock%}
{% block body_title %}
{% endblock%}
{% block search%}
{% endblock%}

{% block central%}
{% csrf_token %}
    <!--头部标题-->
    <nav class="navbar navbar-light bg-light border-bottom row fixed-top ">
        <img src="{% static 'img/icons/chevron-left.svg' %}" class="float-left" id="previous_page">
        <div class="h6 col align-self-center mb-0 text-center" id="user_name">我的订单</div>
        <input id="is_login" value="{{request.session.is_login}}" style="display: none">
    </nav>
    <div class="mt-4 pt-4"></div>
    <!--订单列表-->
    <div id="order_show_0">
        <input value="{{order_dic_count}}" id="get_count" style="display: none">
        {% for order_dic in order_dic_tuple %}
        <ul class="list-unstyled border-bottom  shadow-sm p-3  bg-white rounded order_show" id="{{order_dic.id}}">
            <li class=" shadow-sm  p-2 bg-light rounded">
                <p class=" mb-0 text-danger float-left">自营</p>
                <p class="mb-0 text-danger text-right" id="order_status_{{order_dic.id}}">{{order_dic.order_status}}</p>
            </li>
            {% for order in order_dic.goods_json %}
            <li class="media mt-1 border-bottom" id="{{order.goods_id}}">
                <img src="{{order.goods_image}}" class="align-self-center" style="width: 90px;height: 90px;">
                <div class="media-body ml-1" >
                    <h5 class=" mt-0 mb-0 search_name">{{order.goods_name}}</h5>
                    <div class="h6 mb-0 ">
                        <small>单价：￥</small><span id="goods_sell_price_{{order_dic.id}}_{{order.goods_id}}">{{order.goods_sell_price}}</span><br>
                        <small>数量：</small><span id="cart_goods_quantity_{{order_dic.id}}_{{order.goods_id}}">{{order.cart_goods_quantity}}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
            <li class=" border-top " style="height: 100%">
                <div class="float-right">
                    <p class="mb-0 ">付款金额：</p>
                    <p class="mb-0 text-danger" >￥<span  id="total_{{order_dic.id}}"></span></p>
                </div>
                <div id="card_foot_{{order_dic.id}}">
                    <a class="btn btn-primary text-white mt-1 col-4 button_change_left " id="value_change_{{order_dic.id}}">确认收货</a>
                    <a class="btn btn-primary text-white mt-1 col-4 button_change_right" id="value_change_right_{{order_dic.id}}">取消订单</a>
                    <input class="order_status" value="{{order_dic.order_status}}" id="get_order_status_{{order_dic.id}}" style="display:none ">
                </div>
    <!--            <input type="button" class="btn btn-secondary mt-1 col-4 " id="value_change_{{order_dic.id}}"  value="取消订单">-->
    <!--            <input type="button" class="btn btn-secondary mt-1 col-4 bg-danger " id="pay_{{order_dic.id}}"  value="支付" style="visibility: hidden">-->

            </li>
        </ul>
        {% endfor %}
    </div>
    <div id="order_show_1"></div>

    <div class="mb-5 pb-1"></div>


{% endblock %}