{% extends 'base.html' %}
{% load static %}

<!--页面名称-->
{% block tite %}
商品信息页
{% endblock%}
<!--head-->
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product_list.css' %}">
<script src="{% static 'js/product_list.js' %}"></script>
{% endblock %}
<!--过滤头部标题-->
{% block body_title%}{% endblock %}
{% block body_head %}
{% endblock%}
{% block search%}
    <!--搜索框-->
    <div class="input-group container justify-content-center fixed-top"  >
        <input type="text" id="search_input" class="form-control col-md-4" placeholder="请输入商品名称" autocomplete="off">
        <img class="input-group-text" id="search_img" src="{% static 'img/icons/search.svg' %}">

    </div>
    <div class="list-group container justify-content-center ml-3  " id="search_list" style="width: 85%;position: absolute">
    </div>
{% endblock %}
<!--菜单栏-->
{% block central %}

<!--设置滚动监听 信息展示-->
<body data-spy="scroll" data-target="#list" data-offset="60" style="position: relative">
{% csrf_token %}
    <div class="row mr-0 mt-4 pt-3 "   >
        <!--左侧导航栏-->
        <div class="  col-4 flex-column pr-0 " id="list" >
            <nav class="list-group nav nav-pills flex-column   position-fixed "  style="padding-bottom: 100%;">
                <div class=" list-group-item-action nav-link  text-center bg-primary text-white goods_category_list" id="0"  >食品</div>
                <div class=" list-group-item-action nav-link  text-center goods_category_list" id="1"  >饮料</div>
                <div class=" list-group-item-action nav-link  text-center goods_category_list" id="2"  >调料</div>
                <div class=" list-group-item-action nav-link  text-center goods_category_list" id="3"  >生活用品</div>
                <div class=" list-group-item-action nav-link  text-center goods_category_list" id="4"  >化妆品</div>
                <div class=" list-group-item-action nav-link  text-center goods_category_list" id="5"  >手机卡</div>
                <div class=" list-group-item-action nav-link  text-center goods_category_list" id="6"   style="visibility: hidden">外卖</div>
                <div class=" list-group-item-action nav-link  text-center goods_category_list" id="7"   style="visibility: hidden"></div>
                <div class=" list-group-item-action nav-link  text-center goods_category_list" id="8"   style="visibility: hidden"></div>
                <div class=" list-group-item-action nav-link  text-center goods_category_list" id="9"   style="visibility: hidden"></div>
                <div class=" list-group-item-action nav-link  text-center goods_category_list" id="10"   style="visibility: hidden"></div>
                <div class=" list-group-item-action nav-link  text-center goods_category_list" id="11"   style="visibility: hidden"></div>
            </nav>
        </div>
        <!--右侧商品信息栏-->
        <div data-spy="scroll" data-target="#list" data-offset="0" id="goods_show" class="col-8  float-left h-100  pl-0 pr-0 mb-5 " >

            <div id="goods_information">
                <div id="goods_show_0">
                    <input value="{{goods_count}}" id="get_count" style="display: none">
                    <input value="{{goods_category}}" id="get_goods_category" style="display: none">
                    {% for goods in goods_dic %}
                        <div class="h-25 w-100  media border-bottom  pt-1 pb-1" >
                    <img class="align-self-center  mr-1 ml-1" src=" {% static goods.goods_image %}" style="width: 90px;height: 90px;">
                    <div class="media-body"  id="list-item-{{goods.goods_category}}">
                        <h5 class=" mt-0 mb-0 search_name">{{goods.goods_name}}</h5>
                        <small class="mt-0">销量：{{goods.goods_sell_volume}}</small><br>
                        <div class="mb-0 text-danger ">
                            <span class="h6 text-danger float-left">￥</span><span class="h6 text-danger float-left" id="sell_price_{{goods.id}}">{{goods.goods_sell_price}}</span>
                            <div class="mr-2 mb-0 ">
                                <input class="goods_preferential_search" value="{{goods.goods_preferential}}" id="{{goods.id}}" style="display: none">
                                <h6 class="goods_preferential_show">
                                    <h6 id="goods_preferential_price_{{goods.id}}" ></h6>
                                </h6>
                                <img  class="float-right ml-1 add_cart" id="add_{{goods.id}}" src="{% static 'img/icons/cart.svg' %}" width="24" height="24">
                                <h5 class="float-right ml-1" id="text_{{goods.id}}" style="visibility: hidden">0</h5>
                                <img  class="float-right ml-1 subtract_cart" id="subtract_{{goods.id}}" src="{% static 'img/icons/cart-dash.svg' %}" width="24" height="24" style="visibility: hidden">
                            </div>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                    <div id="get_js"></div>
                </div>
                <div id="goods_show_1"></div>
            </div>
        </div>

    </div>


</body>

{% endblock%}

