<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>付款</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrapt/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrapt/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pay.css' %}">
    <script src="{% static 'js/pay.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>

<div class="card mb-2 mt-2">
    <!--显示收件人信息-->
    <div class="card-header bg-light">
        <div class="container ">
            <div class="row">
                <span class=" font-weight-bold " id="consignee_address">地址：{{consignee_address}}</span>
            </div>
            <div class="row">
                <span class="col-11 pl-0 pr-0 small" id="consignee_name" >收件人：{{consignee_name}}</span>
                <img class="pl-0 pr-0 float-right" src="../../static/img/icons/chevron-right.svg" id="address_change" width="24" height="24">
            </div>
            <div class="row">
                <span class="small" id="consignee_number">联系电话：{{consignee_number}}</span>
            </div>
            <input style="display: none" id="order_id_get" value="{{order_id}}">
        </div>
    </div>
    <!--显示商品信息-->
    <div class="card-body pl-1 pr-1">
        {% for search in goods_message_list %}
        <div class=" media container pay_list border-bottom " id="{{search.goods_id}}">
                <img class=" pl-0 pb-1 pt-1" src=" {{search.goods_image}}" id="goods_image_{{search.goods_id}}" style="width: 90px;height: 90px;">
                <div class="media-body ml-2"  id="list_item_{{search.goods_category}}" style="border-radius: 5px">
                    <h5 class=" mt-1 mb-0 search_name" id="goods_name_{{search.goods_id}}">{{search.goods_name}}</h5>
<!--                    <button style="visibility:hidden" >选择</button>-->
                    <div class="mb-0 h5 text-danger mt-4">
                        <h5 class="float-left ">￥<h5 class="float-left" id="goods_sell_price_{{search.goods_id}}" >{{search.goods_sell_price}}</h5></h5>
                        <div class="float-right mr-2 mb-0 ">
                            <img  class="float-right ml-2 mt-1 cart_add"  src="../../static/img/icons/plus.svg" width="24" height="24">
                            <h5 class="float-right mt-1 text-black-50 ml-2 text-center" id="cart_goods_quantity_{{search.goods_id}}" style="width: 25px;height: 25px">{{search.cart_goods_quantity}}</h5>
                            <img  class="float-right ml-2 mt-1 cart_dash"  src="../../static/img/icons/dash.svg" width="24" height="24">
                        </div>
                    </div>
                </div>
        </div>
        {%endfor%}
    </div>
    <!--显示支付方式-->
    <div class="card-footer bg-light">
        <div class="list-group form-group row h6 ">
        <div class="form-check pt-2 pb-2 border-bottom">
            <input type="radio" class="form-check-input" name="select" id="select_pay0" value="0" checked>
            <label class="form-check-label" for="select_pay0">现金支付</label>
        </div>
        <div class="form-check disabled  pt-2 pb-2 border-bottom">
            <input type="radio" class="form-check-input" name="select" id="select_pay1" value="1" disabled>
            <label class="form-check-label" for="select_pay1">微信支付
                <p class="text-warning mb-0">暂未开通</p>
            </label>
        </div>
        <div class="form-check disabled  pt-2 pb-2 border-bottom">
            <input type="radio" class="form-check-input " name="select" id="select_pay2" value="2" disabled>
            <label class="form-check-label" for="select_pay2">支付宝支付
                <p class="text-warning mb-0">暂未开通</p>
            </label>
        </div>
    </div>
    </div>
</div>

<!--显示可用优惠-->
<div class="card">
    <div class="card-header bg-light">
        <span>商品金额</span>
        <span class="float-right mr-4" id="sum_price_discounts"></span>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item border-bottom-0 ">
            <span>运费</span><span class="float-right mr-4" id="carriage">￥0.00</span>
        </li>
        <li class="list-group-item border-bottom-0" >
            <span>优惠券</span>
            <div class="float-right">
                <span class="mr-1 text-black-50 discounts_price">无可用</span>
                <img class="pb-1" src="../../static/img/icons/chevron-right.svg">
            </div>
        </li>
        <li class="list-group-item border-bottom-0" >
            <span>红包</span>
            <div class="float-right">
                <span class="mr-1 text-black-50 discounts_price">无可用</span>
                <img class="pb-1" src="../../static/img/icons/chevron-right.svg">
            </div>
        </li>
        <li class="list-group-item border-bottom-0 " id="integral_use">
            <span class="">积分</span>
            <div class="float-right">
                <span class="mr-1 discounts_price" id="show_amount_integral">去选择</span>
                <img class="pb-1" src="../../static/img/icons/chevron-right.svg">
            </div>
        </li>
        <li class="list-group-item border-bottom-0" >
            <span>礼品卡</span>
            <div class="float-right">
                <span class="mr-1 text-black-50 discounts_price">无可用</span>
                <img class="pb-1" src="../../static/img/icons/chevron-right.svg">
            </div>
        </li>
    </ul>
    <div class="card-footer bg-light ">
        <span class="float-right mr-4" id="discounts_sum_price">￥111</span><span class="float-right mr-1">合计:</span>
    </div>


</div>
<div class="pb-3 mb-5"></div>
<!--提交订单-->
<nav id="bottom" class="navbar col-12 fixed-bottom shadow-sm bg-light rounded text-center border border-primary" >
    <div class="h6 form-check form-check-inline col-6 mb-0" >
        <label class="form-check-label h4 font-weight-bold text-danger" id="sum_price"></label>
    </div>
    <button type="button" class="col-5 btn btn-danger" id="order_submit">提交订单</button>
    <form style="display: none" id="submit">
        {% csrf_token %}
    </form>
</nav>


<!--模态框-->
<!--积分弹出模态框-->
<div class="modal fade " id="integral_modal"  tabindex="-1" aria-labelledby="integral_title" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content bg-white">
            <div class="modal-header">
            <h5 class="modal-title" id="integral_title">积分</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" id="close">&times;</span>
            </button>
        </div>
            <div class="modal-body">
                <div class="mb-3">
                    <span>账户积分数:</span><span id="integral_number">{{integral_number}}</span>
                    <span class="float-right text-danger mr-3" id="save_amount">0</span>
                    <span class="float-right text-danger">预计可节省:￥</span>
                </div>
            <div class="input-group">
                <input type="number" class="form-control" placeholder="请输入要使用的积分数" id="integral_input">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" id="integral_all">全部使用</button>
                </div>
            </div>
        </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_button">关闭窗口</button>
            <button type="button" class="btn btn-primary" id="sure_use_integral">确定使用</button>
        </div>
        </div>
    </div>
</div>

<script>



</script>


</body>
</html>