<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock%}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrapt/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrapt/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body_title %}
    <!--标题-->
    <p class="h4 text-center">杰力商城</p>
    {% endblock%}

    {% block search%}
    <!--搜索框-->
    <div class="input-group container justify-content-center"  >
        <input type="text" id="search_input" class="form-control col-md-4" placeholder="请输入商品名称" autocomplete="off">
        <img class="input-group-text" id="search_img" src="{% static 'img/icons/search.svg' %}">

    </div>
    <div class="list-group container justify-content-center ml-3  " id="search_list" style="width: 85%;position: absolute">
    </div>
    {% endblock %}

{% block central%}{% endblock %}

<!--公用底部模板-->
{% block botton %}
    <nav id="bottom" class="navbar col-12 fixed-bottom shadow-sm bg-light rounded text-center" >
        <a class="navbar-brand navbar col-2" href="/index/" style="margin-left: 3.5%">
            <img src="{% static 'img/icons/主页.svg' %}" class="card-img-top" width="24" height="24">
            <p class="card-text text-dark h6" >主页</p>
        </a>

        <a class="navbar-brand col-2" href="/goods/product_list/" >
            <img src="{% static 'img/icons/商品.svg' %}" class="card-img-top" width="24" height="24">
            <p class="card-text text-dark h6" >商品</p>
        </a>

        <a class="navbar-brand col-2 " href="/cart/cart_list/" >
            <img src="{% static 'img/icons/购物车.svg' %}" class="card-img-top" width="24" height="24">
            <span class="badge badge-pill badge-danger " id="cart_badge"></span>
            <p class="card-text text-dark h6 " >购物车</p>
        </a>

        <a class="navbar-brand col-2" href="/user/personal_information/" >
            <img src="{% static 'img/icons/我的.svg' %}" class="card-img-top" width="24" height="24">
            <p class="card-text text-dark h6" >我的</p>
        </a>

    </nav>
{% endblock %}

</body>
</html>